# dependencies
node_modules/

# build outputs
dist/
build/

# env files
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vite / React
frontend/dist/

# TS build cache
*.tsbuildinfo